<%= form_for(post) do |f| %>

	<div class="image row">
		<%= f.attachment_field :image %>
	</div>

	<div class="tag row">
		<%= f.label :tag_list, "タグをカンマ区切りで入力" %>
		<%= text_field_tag "post[tag_list]", post.tag_list, :class => "form-control" %>
	</div>

	<div class="field row">
		<%= f.label :title %>
		<%= f.text_field :title, class: "col-xs-12 post_title" %>
	</div>

	<div class="field row">
		<%= f.label :content %>
		<%= f.text_area :body, rows:'5', class: "col-xs-12 post_body" %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>

<% end %>