<%= form_for(post) do |f| %>

	<div class="image row">
		<%= f.attachment_field :image %>
	</div>

	<div class="field row">
		<%= f.label :title %>
		<%= f.text_field :title, class: "col-xs-12 post_title" %>
	</div>

	<div class="field row">
		<%= f.label :content %>
		<%= f.text_area :body, rows:'5', class: "col-xs-12 post_body" %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>

<% end %>