<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @post.user %>
		<h2>New post</h2>
		<%= render 'posts/newform', post: @post_new %>
	</div>

	<div class="col-xs-9" style="text-align: center;">
		<h2>Post detail</h2>

		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-8">
				<%= attachment_image_tag @post, :image, :fill, 330, 330 %>
			</div>

		<table>
			<div class="col-xs-4">
				<tr>
					<th><label>ユーザー名</label></th>
					<td><%= @post.user.name %></td>
				</tr>
				<tr>
					<th><label>title</label></th>
					<td><%= @post.title %></td>
				</tr>
				<tr>
					<th><label>内容</label></th>
					<td><%= @post.body %></td>
				</tr>
				<tr>
					<!-- いいね機能 -->
				   <td><%= render 'favorites/favorite', post: @post %></td>
				   <td>コメント数:<%= @post.post_comments.count %></td>
				</tr>
				<tr>
					<% if @post.user == current_user %>
						<td><%= link_to "Edit", edit_post_path(@post), class: "btn-sm btn-success edit_post_#{@post.id}" %></td>
						<td><%= link_to "Destroy", post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_post_#{@post.id}" %></td>
					<% end %>
				</tr>
			</div>
		</table>
		</div>

		<div class="row">
		<div class="comment col-xs-10 col-xs-offset-1">
			<!-- コメント一覧・機能 -->
			<table>
			<% @post_comments.each do |post_comment| %>
				<tr>
					<td>
						<%= link_to (attachment_image_tag post_comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "pull-left :profile-img", fallback: "no_image.jpg"), user_path(@post.user) %>
					</td>
					<td><%= post_comment.comment %></td>
					<% if current_user == post_comment.user %>
						<td>
							<%= link_to "Destroy", post_post_comment_path(@post, post_comment), method: :DELETE, class: 'btn btn-danger btn-xs pull-right' %>
						</td>
					<% end %>
				</tr>
			<% end %>
			</table>

			<div class="comment-form">
				<%= form_for [@post, @post_comment] do |f| %>
					<%= f.text_area :comment, rows:'5', class: "form-control" %>
					<%= f.submit '送信', class: "btn btn-sm btn-base-1 mt-20 pull-right" %>
				<% end %>
			</div>
		</div>
		</div>
	</div>
</div>