<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-right">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span>Anicode</span>
        </nav>
        <!-- headerここから -->
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <% if user_signed_in? %>
              <li class="header_list"><%= link_to "Mypage", user_path(current_user) %></li>
              <li class="header_list"><%= link_to "Users", users_path %></li>
              <li class="header_list"><%= link_to "投稿一覧", posts_path %></li>
              <li class="header_list"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="header_list"><%= link_to "Top", root_path %></li>
              <li class="header_list"><%= link_to "投稿一覧", posts_path %></li>
              <li class="header_list"><%= link_to "SignUp", new_user_registration_path %></li>
              <li class="header_list"><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
        <!-- headerここまで -->

      </div>
    </header>
      <% if user_signed_in? %>
        <div class="search-form" style="margin-top: 70px; text-align: center;">
          <%= form_tag(search_path, :method => 'get') do %>
            <%= text_field_tag :search %>
            <%= submit_tag '記事を検索', :name => nil %>
          <% end %>
        </div>
    <% end %>
    <div class="container-fluid">
      <div class="row">
        <p id="notice"><%= notice %></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
